<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Home.css">-->
    <%- include("partials/Head", { styles: ["home", "partials"] }) %>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/css/Home.css">
    <title>Nación Rebelde</title>
    <title>Document</title>
</head>
<body>
    <header>
        <%- include("partials/Header") %>
    </header>
    <main>

    </main>
    <br>
    <div class = "imagen-fondo-home">
    <img src="https://nacion-rebelde.alwaysdata.net/estudio-grabacion.jpg">
    </div>
    <footer>
      <%- include("partials/Footer") %>
    </footer>
      <%- include("partials/GlobalScripts") %>
      <script src="https://kit.fontawesome.com/212f83b8aa.js" crossorigin="anonymous"></script>
</body>
</html>